@page "/flights/{Id:guid}"
@using FlightApp.Components
@using FlightApp.ViewModels
@using FlightApp.Services
@using Microsoft.VisualBasic

@inject FlightService FlightService

<h1>Flight Details</h1>

@if (flight is null)
{
    <p>Flight not found.</p>
}
else
{
    <p><strong>Date:</strong> @flight.Date</p>
    <p><strong>Duration:</strong> @flight.Duration</p>
    <p><strong>Glider:</strong> @flight.Glider</p>
}


@code {
    [Parameter]
    public Guid Id { get; set; }

    private FlightListItemVm? flight;

    protected override void OnInitialized()
    {
        flight = FlightService.GetFlight(Id);
    }

    
}