@* Components\FlightMap.razor *@

@namespace FlightApp.Components
@inherits StatefulComponentBase

@using FlightApp.Analysis
@using FlightApp.Domain
@using FlightApp.Services
@using Microsoft.JSInterop

<div class="flight-map-root">
    @if (!HasTrackPoints)
    {
        <div class="flight-map-empty" style="@($"height:{Height};")">
            No track available
        </div>
    }
    else
    {
        <div id="@mapId" class="flight-map-surface" style="@($"height:{Height};")"></div>
    }
</div>
