@namespace FlightApp.Components
@inherits StatefulComponentBase

@using FlightApp.Analysis
@using FlightApp.Domain
@using FlightApp.Services
@using Microsoft.JSInterop

<div class="flight-charts-root">
    @if (!HasTrack)
    {
        <div class="flight-charts-empty">
            No chart data available
        </div>
    }
    else
    {
        <div id="@altChartId" class="chart-panel"></div>
        <div id="@varioChartId" class="chart-panel"></div>
        <div id="@speedChartId" class="chart-panel"></div>
    }
</div>